.nav_wrapper {
  height: 75px;
  padding: 0.5em;
  overflow: hidden;
}

.logo {
  float: left;
  height: 100%;
}

.logo img {
  height: 100%;
}

.navigation {
  float: left;
  vertical-align: middle;
  height: 100%;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  line-height: 75px;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Nunito Sans', sans-serif;
}
