.container {
    background-color: #81B757;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px 14px 0px 0px;
    display: flex;
}

.backgroundRed {
    background-color: #FF5964;
}

.profileLeft {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileRight {
    flex-basis: 80%;
    padding-left: 20px;
}

.profileImageContainer {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #EBF2FA;
    margin: 0 auto 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImageContainer img {
    height: 150px;
    width: auto;
}

.profileTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #EBF2FA;
    border-radius: 7px 7px 0 0;
}

.profileTitle h1 {
    margin: 0;
}

.levelBar {
    display: flex;
    position: relative;
    background-color: #EBF2FA;
    height: 50px;
    border-radius: 7px 7px 0px 0px;
    margin-bottom: 24px;
}

.levelBar h2 {
    margin: 0;
    position: absolute;
    line-height: 50px;
    left: 20px;
}

.levelBarFill {
    background-color: #FFB800;
    position: absolute;
    height: 100%;
}

.profileInfo {
    padding: 20px;
    background-color: #EBF2FA;
    border-radius: 7px 7px 0px 0px;
}

/* FOR THE PARENTAL PROFILE */
.totalScoreContainer {
    border-radius: 14px 14px 0 0;
    border: 2px solid #FF5964;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 50%;
    margin-bottom: 1.5em;
}

.totalScoreSubject {
    display: flex;
    padding: 20px;
    align-items: center;
}

.totalScoreSubject p {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    width: 50%;
    text-align: center;
}

.white {
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .container {
        display: block;
    }

    .profileRight {
        padding-left: 0;
    }

    .profileTitle {
        margin-bottom: 24px;
    }

    .totalScoreContainer {
        width: 100%;
    }
  }