.notificationContainer {
    position: relative;
}

.notificationIcon {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: white;
    border: 4px solid #FF5964;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.notificationIcon p {
    margin: 0;
    font-size: 2em;
    font-weight: bolder;
    color: #FF5964;
}

@media only screen and (max-width: 768px) {
    .notificationContainer {
        width: 100%;
    }
}