.qNumberAndTimer {
    width: 100%;
    position: relative;
}

.timerDiv {
    position: absolute;
    top: -10px;
    right: 0;
    width: 172px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 7px 7px 0 0;
    border: 2px solid #81B757;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.timerDiv p {
    margin-bottom: 0;
    padding: 5px;
    font-size: 1.25em;
}

.examButtons {
    display: flex;
    gap: 2em;
    margin-bottom: 24px;
}

.questionNav {
    display: flex;
    align-items: center;
    gap : 2em;
}

.questionNav h2 {
    margin-bottom: 0px;
}

.questionNav input {
    border: 2px solid #81B757;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px 7px 0px 0px;
    width: 150px;
    height: 36px;
    padding: 0 12px 0 12px;
    font-size: 1.25em;
    font-family: "Nunito Sans", sans-serif;
    color: #3c474b;
}

@media only screen and (max-width: 600px) {
    .examButtons {
        flex-direction: column;
        gap: 1.5em;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 512px) {
    .qNumberAndTimer {
        margin-bottom: 24px;
    }

    .timerDiv {
      position: relative;
    }

    .questionNav {
        display: flex;
        align-items: center;
        gap : 1em;
    }
}