.exam_list_selectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
    .exam_list_selectors {
        display: block;
    }
}
