.list_item {
    cursor: pointer;
    user-select: none;
    margin-bottom: 24px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px 14px 0 0;
}

.regularPointer {
    cursor: auto;
}

.list_item_heading {
    padding: 12px 20px;
    border-radius: 14px 14px 0 0;
}

.list_item_heading p {
    color: white;
    margin: 0;
    font-size: 1.25em;
    font-weight: bold;
}

.list_item_detail {
    padding: 12px 20px;
    background-color: white;
    display: flex;
}

.list_item_detail p {
    font-size: 1.25em;
    padding: 0 20px 0 0;
    margin: 0;
    font-weight: bold
}

@media only screen and (max-width: 500px) {
    .list_item_heading p {
        font-size: 1.0em;
    }

    .list_item_detail p {
        padding: 0 5px;
        font-size: 1.0em;
    }
}