/* DESKTOP */

body {
  height: 100%;
  background-color: #ebf2fa;
}

* {
  margin: 0;
  padding: 0;
}

/* CENTERED DVI */
.center-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* BASE FORMATS FOR TEXT */

h1 {
  font-family: "Nunito Sans", sans-serif;
  color: #3c474b;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 24px;
  font-weight: bold;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  color: #3c474b;
  font-size: 1.25em;
  margin: 0;
  margin-bottom: 1.5em;
  font-weight: bold;
}

p {
  font-family: "Nunito Sans", sans-serif;
  color: #3c474b;
  font-size: 1em;
  margin: 0;
  margin-bottom: 1.5em;
}

.central-body {
  background-color: #ebf2fa;
  padding: 2em 5%;
  margin: 0;
}

/* Panels */
.panel-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .panel-container {
    flex-direction: column;
    align-items: center;
  }
}

/* IMAGES FOR QUESTIONS */

.questionImageContainer {
  margin-bottom: 24px;
}

.questionImageContainer img {
  width: 50%;
  height: auto;
  border-radius: 7px 7px 0 0;
  border: 2px solid #81b757;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px 14px 0px 0px;
}

/* GREEN INPUT */
.green-text-input {
  width: 50%;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  background: #ffffff;
  border: 2px solid #81b757;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px 7px 0px 0px;
  padding: 15px 20px;
  color: #3c474b;
  font-size: 1em;
  margin-bottom: 24px;
}

/* RED INPUT */
.red-text-input {
  width: 50%;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  background: #ffffff;
  border: 2px solid #FF5964;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px 7px 0px 0px;
  padding: 15px 20px;
  color: #3c474b;
  font-size: 1em;
  margin-bottom: 24px;
}

/* MULTIPLE CHOICE INPUT */

.multiple-choice-container {
  margin-bottom: 1.5em;
  width: 50%;
  user-select: none;
}

.multiple-choice-option-container {
  border: 2px solid #81b757;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px 7px 0px 0px;
  background-color: white;
  margin-bottom: 12px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.multiple-choice-option-container p {
  margin: 0 0 0 20px;
  font-size: 1.25em;
  cursor: pointer;
  user-select: none;
}

.multiple-choice-option-container label {
  cursor: pointer;
  width: 100%;
  user-select: none;
}

.checkbox-input {
  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  cursor: pointer;
}

/* Activity Submit */
li {
  list-style-position: inside;
  font-family: "Nunito Sans", sans-serif;
  color: #3c474b;
  font-size: 1em;
  margin: 0;
  margin-bottom: 1.5em;
}

input[type="submit"] {
  display: block;
}

.form-margin, .margin-bottom {
  margin-bottom: 1.5em;
}

/* Password text */
.warning-text {
  color: #A61F1F;
}

/* Mobile Support for Questions */
@media only screen and (max-width: 1024px) {
  .questionImageContainer img {
    width: 80%;
  }

  .green-text-input, .red-text-input {
    width: 80%;
  }

  .multiple-choice-container {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .questionImageContainer img {
    width: 100%;
  }

  .green-text-input, .red-text-input {
    width: 100%;
  }

  .multiple-choice-container {
    width: 100%;
  }
}

/* HIDE THE ARROWS ON INPUTS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
