.appButtonContainer {
    width: 175px;
    border-radius: 7px 7px 0 0;
    height: 44px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.01s;
    user-select: none;
}

.blueButton {
    background-color: #435B9D;
}

.blueButton:hover, .blueButton:active {
    background-color: transparent;
    border: 4px solid #435B9D;
    box-sizing: border-box;
}

.linkTextBlue {
    color: white;
    margin: 0;
    font-size: 1.25em;
    font-weight: 700;
}

.appButtonContainer:hover .linkTextBlue {
    color: #435B9D;
}

.greenButton {
    background-color: #81B757;
}

.greenButton:hover {
    background-color: transparent;
    border: 4px solid #81B757;
    box-sizing: border-box;
}

.linkTextGreen {
    color: white;
    margin: 0;
    font-size: 1.25em;
    font-weight: 700;
}

.appButtonContainer:hover .linkTextGreen {
    color: #81B757;
}

.greyButton {
    background-color: #DBDBDB;
}

.linkTextGrey {
    color: white;
    margin: 0;
    font-size: 1.25em;
    font-weight: 700;
}

.redButton {
    background-color: #A61F1F;
}

.redButton:hover, .redButton:active {
    background-color: transparent;
    border: 4px solid #A61F1F;
    box-sizing: border-box;
}

.linkTextRed {
    color: white;
    margin: 0;
    font-size: 1.25em;
    font-weight: 700;
}

.appButtonContainer:hover .linkTextRed {
    color: #A61F1F
}

.parentButton {
    background-color: #FF5964;
}

.parentButton:hover, .parentButton:active {
    background-color: transparent;
    border: 4px solid #FF5964;
    box-sizing: border-box;
}

.linkTextParent {
    color: white;
    margin: 0;
    font-size: 1.25em;
    font-weight: 700;
}

.appButtonContainer:hover .linkTextParent {
    color: #FF5964;
}

/* Reduced Size on Phone */

@media only screen and (max-width: 600px) {
    .appButtonContainer {
        width: 100%;
    }
    
}

/* On mobile devices, don't allow the hovering */
@media (hover: none) {
    .parentButton {
        background-color: #FF5964;
    }

    .redButton {
        background-color: #A61F1F;
    }

    .greenButton {
        background-color: #81B757;
    }

    .blueButton {
        background-color: #435B9D;
    }
}