.button_container {
    background-color: #81B757;
    cursor: pointer;
    border-radius: 7px 7px 0 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 175px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
}

.button_container p {
    font-weight: bold;
    color: #FFF;
    font-size: 1.25em;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
}

@media only screen and (max-width: 850px) {
    .button_container {
        width: 100%;
        margin: 12px 0;
    }
}
