.vr {
    background-color: #6645DD;
}

.n_vr {
    background-color: #E75208;
}

.n-vr {
    background-color: #E75208;
}

.math {
    background-color: #0F65EF;
}

.eng {
    background-color: #328627;
}

.general {
    background-color: #81B757;
}

.parent {
    background-color: #FF5964;
}