.list_item {
    user-select: none;
    margin-bottom: 24px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px 14px 0 0;
}

.list_item_heading {
    padding: 12px 20px;
    border-radius: 14px 14px 0 0;
}

.list_item_heading p {
    color: white;
    margin: 0;
    font-size: 1.25em;
    font-weight: bold;
}

.list_item_detail {
    padding: 12px 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputOptions {
    display: flex;
    gap: 2em;
}

.activityDate {
    font-size: 1.25em;
    margin: 0;
    font-weight: bold
}

@media only screen and (max-width: 768px) {
    .list_item_detail {
        display: block;
        text-align: center;
    }

    .inputOptions {
        justify-content: center;
    }

    .activityDate {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .inputOptions {
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .list_item_heading p {
        font-size: 1.0em;
    }

    .list_item_detail p {
        padding: 0 5px;
        font-size: 1.0em;
    }
}