.link {
  text-decoration: none;
}

.panelButtonContainer {
  border-radius: 14px 14px 0px 0px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.green {
  background-color: #81b757;
}

.red {
  background-color: #ff5964;
}

.panelText {
  margin-bottom: 0;
  font-size: 1.25em;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.imageContainer {
  height: 100px;
  margin-bottom: 24px;

}

.imageContainer img {
  height: 100%;
  width: auto;
  filter: brightness(0) invert(1);
}

@media only screen and (max-width: 768px) {
    .link {
        width: 100%;
    }

    .panelButtonContainer {
        width: 100%;
        height: auto;
        flex-direction: row;
        padding: 12px 0;
    }

    .imageContainer {
        flex: 50%;
        max-width: 50%;
        text-align: center;
        margin-bottom: 0px;
    }

    .panelText {
        flex: 50%;
        max-width: 50%;
        padding-right: 10px;
    }
  }