.answerDiv {
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #81B757;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px 14px 0px 0px;
    margin-bottom: 24px;
    padding: 20px;
}