.navContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 8px 20px;
    position: relative;
}

.logoContainer {
    height: 75px;
}

.logoContainer img {
    height: 100%;
    width: auto;
}

.desktopNavContainer {
    display: flex;
    gap: 20px;
}

.desktopNavContainer a, .centralMobileNavContainer a, .hamburgerMenu a {
    text-decoration: none;
}

.desktopNavContainer p, .centralMobileNavContainer p {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    margin: 0;
}

.centralMobileNavContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hamburgerContainer {
    height: 30px;
    user-select: none;
}

.hamburgerContainer img {
    height: 100%;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.hamburgerMenu {
    position: absolute;
    z-index: 50;
    bottom: 0;
    width: 100%;
    transform: translate(-20px, 100%);
    display: flex;
    flex-direction: column;
    border-top: 4px solid white;
}

.hamburgerMenu p {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
}

.hamburgerMenuItem {
    padding: 7px 0;
    width: 100%;
    border-bottom: 4px solid white;
}

.noUserBg {
    background-color: #435B9D;
}

.studentUserBg {
    background-color: #81B757;
}

.parentUserBg {
    background-color: #FF5964;
}

@media only screen and (max-width: 620px) {
    .navContainer {
        justify-content: space-between;
    }
}